@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
/* Navbar */
.mainnav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.navbar{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    padding: 1.5rem;
    color: white;
}
.navbar a:hover{
    font-weight: bold;
}
.navbutton{
    border: 2px solid #402100;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 25px;
    padding: 10px 10px;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: white;
    background-color:#FF8400;
}
.firstpage{
    background-color: #FF8400;
    background-image: url('/Images/aboutpagepic.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;         
}
.headercontainer{
    width: 30rem;
    height: 30rem;
    padding: 3rem 8rem;
}
h1{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    width: 16rem;
    height: 16rem;
    color: black;
    margin-bottom: 10%;
}
.headercontainer p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFFFFF;
    width: 25rem;
    height: 2rem;
}
.storycontainer{
    display: flex;
    padding: 5rem 2rem;
}
h2{
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.4rem;
    padding: 3rem 0;
}