@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
/* Navbar */
.mainnav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.navbar{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    padding: 1.5rem;
    color: white;
}
.navbar a:hover{
    color:black;
    font-weight: bold;
}
.navbutton{
    border: 2px solid #402100;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 25px;
    padding: 10px 10px;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: white;
    background-color:#FF8400;
    
}
.backgroundpic{
position: absolute;
top: 0;
right: 0;
z-index: -1;
width: 39.6rem;
height: 44.4rem;

}

/* section1 */
.star-1{
   position: absolute;
   left: 45%;
}
.mainstarcontainer{
display: flex;

}
.starcontainer{
    display: flex;
    flex-direction: column;
    width: 1rem;
    padding: 10px 0px;
}
span{
    color: #FF8400;
}
h1{
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 3.5rem;
    width: 23rem;
    padding-bottom: 1.2rem;
}
.subheader{
    display: flex;
    /* padding-right: 20px; */
}
.subheader p{
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    width: 300px;
}
.headercontainer{
    display: flex;
    padding: 2.5rem 10rem;
}
.ellipse-1{
    position: absolute;
    top: 13rem;
}
.headerbutton{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.headerbutton1 {
    width: 122px;
    height: 37px;
    border-radius: 25px;
    background-color: #402100;
    border: 2px solid #402100 ;
    font-size: 18px;
}
.headerbutton2 {
    width: 120px;
    height: 37px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #FF8400;
    font-size: 18px;
}
.headerbutton1 a{
    text-decoration: none ;
    color: white;
}
.headerbutton1 a:hover, .headerbutton2 a:hover{
    color:orangered;
    font-weight: bold;
}
.headerbutton2 a{
    text-decoration: none ;
    color: black;
}
.headercontent{
    padding-right: 14%;
}
.serviceheading{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #402100;
    width: 12rem;
}
.servicecontent{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    width: 12rem;
    text-align: justify;
}
.servicebutton{
    width: 8.75rem;
    height: 37px;
    background-color: #FF8400;
    border: 0px;
    border-radius: 27.1154px;

}
.servicebutton a{
    text-decoration: none;
    color: white;
}
.servicebutton a:hover{
    color: black;
    font-weight: bold;
}
.servicecontainer{
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20%;
}
.servicecontainer2{
    display: block;
    padding: 5% 0;
    
}
.servicecontainer3{
    display: block;
    padding: 10% 0;
}
.service{
    font-size: 1rem;
}

.servicediv{
    border: 0px solid black;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding: 0rem 2rem;
    margin: 20px 0px;
    width: 16rem;
    height: 18rem;
}
.ellipse-2{
    position: absolute;
    top: 50rem;
}
.ellipse-3{
    position: absolute;
    top: 95rem;
    right: 0;
}
.ellipse-4{
    position: absolute;
    top: 135rem;
}
.servicediv p{
    padding: 1rem 0;
}
.heading2{
    text-align: center;
}
h2{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}
.heading2 p{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4rem;
    width: 51rem;
    margin: 1% auto;
}
.h2content{
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 15%;
}
.h2content div{
    width: 18rem;
    height: 19rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid rgb(252, 248, 248);
    border-radius: 28% 42% 45% 38% / 63% 65% 35% 37%;
    box-shadow: 0px 9.43253px 18.8651px rgba(0, 0, 0, 0.04), 0px 1.88651px 5.65952px rgba(0, 0, 0, 0.04), 0px 0px 0.943253px rgba(0, 0, 0, 0.04);

}
.h2content div p {
    margin: 1rem;
    font-size: 1rem;
    width: 14rem;
}
.h2subcontent{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
#h2special{
    margin-top: 5%;
}
h3{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.75rem;
    text-align: center;
}
.aboutuscontainer{
    display: flex;
    justify-content: space-evenly;
    padding: 0 10rem;
    margin-bottom: 5rem;
}
.aboutuscontent{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.3rem;
    width: 17rem;
    padding: 2rem;
    border: 1px solid rgb(248, 243, 243);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}
.aboutuscontent p{
    padding: 2rem 0;
}
.aboutuscontainer img{
    position: relative;
    top: 5rem;
    left: 3.5rem;
}
footer{
    background-color: #FF8400;
    padding: 3rem 3rem;
    display: flex;
}
.footercontainer2{
    display: flex;
    padding: 0 1rem;
}
.footercontainer3{
    display: flex;
    padding: 0 1rem;
}
.footercontainer1{
    padding-bottom: 10%;
}
.footercontainer1 p{
    width: 14.5rem;
    color: #FFFFFF;
}
.footersubcontainer1{
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}
.footersubcontainer1 a{
    padding: 1.5rem 0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    width: 12.5rem;

}
.footersubcontainer1 a:hover{
    color: black;
    font-weight: bold;
}
.footersubcontainer2{
    margin: 0 1.5rem;
}
.footersubcontainer2 p{
    width: 14rem;
    padding-bottom: 1.5rem;
    color: #FFFFFF;

}
.footersubcontainer3{
    display: flex;
    flex-direction: column;
    width: 12rem;
    margin: 0 1.5rem;
}
.footersubcontainer3 a{
    padding: 1.5rem 0;
    text-decoration: none;
    color: #FFFFFF;
}
.footersubcontainer3 a:hover{
    color: black;
    font-weight: bold;
}
.footersubcontainer4{
    display: flex;
    flex-direction: column;
    width: 12rem;
    margin: 0 1.5rem;
}
.footersubcontainer4 a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0;
}
.footersubcontainer4 a:hover{
    color: black;
    font-weight: bold;
}
#footerheading{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}
#menu, .menu-bg{
    display: none;}

  


@media screen and (max-width: 768px) {
.mainnav{
    /* align-items: center; */
    border: 4px solid #FF8400;
    padding: 1rem 2rem;
    justify-content: space-between;

    
}
#menu {
    /* z-index: 2; */
    display: block;
    /* max-width: 4rem; */
    max-height: 4rem;
  }

#menu-bar {
    width: 3.5rem;
    height: 3.2rem;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  .bar {
    height: 10px;
    width: 100%;
    margin: 0.5rem 0;
    background-color: #FF8400;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

.navbar{
    display: none;
    /* font-size: 1rem; */
    
}
.navbar a {
    color: black;
}
.navbar a:hover{
    color: orangered;
    font-weight: bold;
}
.ellipse-1{
   max-width: 3rem;
   max-height: 20rem;
}
.backgroundpic, .homepagepic{
    display: none;
}
.headercontainer{
    display: block;
    align-items: center;
    border: 1px solid black;
    margin: auto;
    max-width: 100%;
    padding: 2.5rem 5rem;
}
.headercontent{
    padding-right: 0%;
    align-items: center;
    border: 1px solid black;
    padding: 2rem;
}
h1{
    font-size: 3.2rem;
    width: 100%;
    text-align: center;
}
.subheader {
    justify-content: center;
    border: 1px solid black;
}
.headerbutton{
    justify-content: space-between;
}
.star-1{
   display: none;
    
  }
}